.platform-osx .app-1q1i1E {
  margin-top: 0px !important;
}
.platform-osx .toolbar-1t6TWx {
  margin-right: 0px !important;
}
.platform-osx .tutorialContainer-2sGCg9 > .listItem-GuPuDH {
  margin-top: 5px !important;
}
